@import url('https://fonts.googleapis.com/css?family=Kalam|Montserrat|Shadows+Into+Light+Two');

.App {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}



canvas{
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  min-width: 100vw;
  min-height: 100vh;
}

